.card_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5rem;
    margin: 1rem;
    width: 20rem;
    height: 10rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 8px rgb(121, 121, 121);
    color: #fff;
}

.icon {
    font-size: 1.5rem;
}

.card_text {
    font-size: 1.6rem;
}

/* CSS for Feature Card backgrounds */
.blue {
    background: linear-gradient(90deg, rgb(82, 157, 255), rgb(3, 67, 119));
}

.purple {
    background: linear-gradient(90deg, rgb(215, 82, 255), rgb(115, 3, 119));
}

.red {
    background: linear-gradient(90deg, rgb(255, 82, 82), rgb(119, 3, 3));
}

.green {
    background: linear-gradient(90deg, rgb(82, 255, 134), rgb(3, 119, 55));
}

.gold {
    background: linear-gradient(90deg, rgb(255, 209, 82), rgb(119, 98, 3));
}